.text-field-demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 320px;
  width: 100%;
  @import '__masked-text/__masked-text';
  @import '__text-field-input/text-field-demo__text-field-input';
}
