.colors-and-fonts {

  margin-top: 145px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @import "__container/_container";
  @import "__font-set/_font-set";
  @import "__palette/_palette";


}