.text-field-demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 320px;
  width: 100%;
  @import '__label/__label';
  @import '__sublabel/__sublabel';
  @import '__input/_input';
  @import '__masked-text/__masked-text';
}
