&__btn-count {
    height: 30px;
    width: 30px;
    border: 1px solid #1F204140;

    border-radius: 15px;

    font-family: "Monserat Regular";
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #1F204140;
}