extends ./layout

block append variables
  -
    title = "Fields and buttons";

block styles 
  link(href=require('../styles/p-fields-and-buttons.scss') rel='stylesheet')


block content
  .fields-and-buttons
    .container
      .fields-and-buttons__wrap

        .fields-and-buttons__row
          .fields-and-buttons__column        

            .fields-and-buttons__text-field
              .text-field
                label.h3 text field 
                p.sublabel Default
                .text-field__input-text-field
                  input.input-text-field(type="text" value="Email")

            .fields-and-buttons__text-field
              .text-field
                label.h3 text field 
                p.sublabel Hover / Focus
                .text-field__input-text-field
                  input.input-text-field.input-text-field_status_hover-focus(type="text" value="This is pretty awesome")

            .fields-and-buttons__dropdown
              .list-dropdown
                .dropdown
                  label.h3 Dropdown
                  .dropdown__dropdown-field
                    .dropdown-field
                      .dropdown-field__value
                        p.body-text Сколько гостей
                      .dropdown-field__expand
                        p.material-icons expand_more
                .dropdown-floor(hidden)
                  .dropdown__list
                    .dropdown__row
                      .dropdown__row-text
                        p.h3 Взрослые
                      .dropdown__count-group 
                        .dropdown__btn-count.dropdown__btn-count_minus -
                        .dropdown__count.h3 0
                        .dropdown__btn-count.dropdown__btn-count_further.dropdown__btn-count_plus +
                    .dropdown__row
                      .dropdown__row-text
                        p.h3 Дети
                      .dropdown__count-group 
                        .dropdown__btn-count.dropdown__btn-count_minus -
                        .dropdown__count.h3 0
                        .dropdown__btn-count.dropdown__btn-count_further.dropdown__btn-count_plus +
                    .dropdown__row
                      .dropdown__row-text
                        p.h3 Младенцы
                      .dropdown__count-group 
                        .dropdown__btn-count.dropdown__btn-count_minus -
                        .dropdown__count.h3 0
                        .dropdown__btn-count.dropdown__btn-count_further.dropdown__btn-count_plus +
                    .dropdown__command-line
                      .h3.dropdown__command.dropdown__command_clear Очистить
                      .h3.dropdown__command.dropdown__command_apply Применить




          .fields-and-buttons__column
            p b
          .fields-and-buttons__column
            p c
        .fields-and-buttons__row
          .fields-and-buttons__column
          .fields-and-buttons__column
          .fields-and-buttons__column
        .fields-and-buttons__row
          .fields-and-buttons__column
          .fields-and-buttons__column
          .fields-and-buttons__column
        .fields-and-buttons__row 
          .fields-and-buttons__column
          .fields-and-buttons__column
          
          


      



block append scripts
  script(src=require('../js/app.js'))