extends ./layout

block append variables
  -
    title = "Main page";


block content
  a(href="colors-and-fonts.html") colors-and-fonts.pug
  br
  a(href="fields-and-buttons.html") fields-and-buttons.pug
  br
  a(href="test.html") test.pug
  br
  p zzz


block append scripts
  script(src=require('../js/app.js'))