&__list {
    color: #1F2041BF;
    background-color: #fff;
    border: 1px solid #1F204180;
    border-top: 0px;
    border-radius: 0 0 4px 4px;
    outline: 0;

    height: 158px;
    width: 100%;

    position: absolute;
}